@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #f8fafc;
  --foreground: #1f2937;
  --primary: #244d3f;
  --not-active: #64748b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-not-active: var(--not-active);
}

body {
  background: var(--background);
  color: var(--foreground);
}
